<%= form_for user, url: user_profile_path(user) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :profile_picture %>
    <%= f.text_field :profile_picture %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
