<div 
  class="flex items-center p-2 m-1.5 bg-gray-50 hover:ring-2 hover:ring-blue-600 shadow-sm transition rounded-xl cursor-pointer"
  data-url="<%= user_profile_path(user) %>"
  onclick="if(!event.target.closest('a, button')) { window.location = this.dataset.url }"  
>
  <div class="shrink-0">
    <%= image_tag "profile-pic.png", alt: "Profile Picture", class: "size-8 rounded-full" %>
  </div>
  <div class="flex-1 min-w-0 ms-4">
    <p class="text-sm font-semibold text-gray-900 truncate">
      <%= user.name %>
    </p>
    <p class="text-sm font-medium text-gray-500 truncate">
      @<%= user.username %>
    </p>
  </div>
  <% if user_signed_in? && current_user != user %>
    <div class="bg-blue-600 hover:bg-blue-700 cursor-pointer text-white text-md font-semibold rounded-lg py-1 px-3 shadow transition">
      <% if current_user.following?(user) %>
        <%= link_to "Unfollow", unfollow_user_path(user), data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "Follow", follow_user_path(user), data: { turbo_method: :post } %>
      <% end %>
    </div>
  <% end %>
</div>