<% content_for :title, "Simple Social | New Password" %>
<div class="h-full translate-y-[-150px] flex justify-center items-center">
  <div class="w-md border-2 border-gray-200 shadow rounded-xl p-4 m-4 gap-2 flex flex-col justify-center items-center">
    <%# Title Text %>
    <h2 class="font-semibold text-2xl text-center">Forgot your password?</h2>

    <%# Form %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field w-sm">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-text-field" %>
      </div>
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "highlight-link cursor-pointer" %>
      </div>
    <% end %>
    <div class="flex gap-2">
      <%= link_to 'Login', new_user_session_path, class: "primary-btn" %>
      <%= link_to 'Sign Up', new_user_registration_path, class: "primary-btn" %>
    </div>
  </div>
</div>