<%= form_for [ current_user, post] do |form| %>
  <div class="flex flex-col">
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title,
       class: "bg-gray-50 border border-gray-300 text-gray-900 text-[18px]
            rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
       %>
    </div>
    <div>
      <%= form.label :content, class: "form-label" %>
      <%= form.textarea :content,
       class: "bg-gray-50 border border-gray-300 text-gray-900 text-md 
            rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 min-h-60" %>
    </div>
    <%# Buttons %>
    <div class="flex gap-2 self-end my-2">
      <div class="primary-btn bg-white">
        <%= link_to "Back", :back %>
      </div>
      <div class="primary-btn">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
