<%= render "full_post", post: @post %>
<h1 class="mx-4 mb-0 text-xl font-semibold">
  <%= @post.comments.count %> Comment<%= @post.comments.count == 1 ? "" : "s" %>
</h1>
<div class="m-4 mt-2">
  <%= render "comments/form", comment: @post.comments.build %>
</div>
<%= render "comments/comments", comments: @post.comments %>
